extends layout

append head
    script(src='/javascripts/index.js')
block content

    div(class='songpost-post' id=songPost.id)
        p(class='all-posts'): a(href='/') <- See all other posts
        if locals.user.id === songPost.userId
            p(class='delete-post'): a(href=`/songposts/${songPost.id}/delete`) Delete Post
            p(class='edit-post'): a(href=`/songposts/${songPost.id}/edit`) Edit Post
        else

        div(class='entire-post')
            h1= songPost.postTitle
                h2 Song: #{songPost.songTitle} / Artist: #{songPost.artist} / Album: #{songPost.album} / Genre: #{songPost.genre}
                h5= songPost.songLink
                h5= songPost.body
    div(class='songpost-note-show')
        h1(id='comments') Comments
        div(class="notes-container")
        div(class='songpost-note')
            form(class='notes-form' id=songPost.id)
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="postComment") Post Comment
                textarea(class="noteText" name="postComment", cols="40", rows="10" value=body)
                div(class='songpost-note-submit')
                    button(type='submit' class='create-post') Post
                    a(href='/' class='create-cancel') Cancel
            if notes.length > 0
                each note in notes
                    div(class="notes-posted") #{note.User.username}: #{note.body}
            else
                h2(id='no-comment') There are no comments yet! Start a discussion!