extends layout

append head
    script(src='/javascripts/index.js')
    //- script(src='/javascripts/3-dots.js')
block content

    div(class='songpost-post' id=songPost.id)
        p: a(href='/' class='all-posts') <- See all other posts
        if locals.user.id === songPost.userId
            p(class='delete-post'): a(href=`/songposts/${songPost.id}/delete`) Delete Post
            p(class='edit-post'): a(href=`/songposts/${songPost.id}/edit`) Edit Post
        else

        div(class='entire-post')
            div(class="moving-the-name")
                a(class="user-link" href=`/users/${songPost.User.username}`) Posted By: #{songPost.User.username}
            h1= songPost.postTitle
                h2 Song: #{songPost.songTitle} / Artist: #{songPost.artist} / Album: #{songPost.album} / Genre: #{songPost.genre}
                a(href=songPost.songLink class="link-to-song") Link To Song
                h5(class='songpost-body')= songPost.body
    div(class='songpost-note-show')
        h1(id='comments') Comments
        div(class="notes-container")
            form(class='notes-form' id=songPost.id)
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="postComment") Post Comment
                textarea(class="noteText" name="postComment", cols="40", rows="10" value=body)
                div(class='songpost-note-submit')
                    button(type='submit' class='create-post') Post
                    a(href='/' class='create-cancel') Cancel
        div(class='songpost-note')
            if notes.length > 0
                each note in notes

                    div(class="notes-posted") #{note.User.username}: #{note.body}
                    div(class="dot-container")
                        div(class="dot-more")
                            button(id="more-btn" class="more-btn")
                                span(class="more-dot")
                                span(class="more-dot")
                                span(class="more-dot")
                            div(class="more-menu")
                                div(class="more-menu-caret")
                                    div(class="more-menu-outer")
                                    div(class="more-menu-inner")
                                ul(class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true")
                                    li(class="more-menu-item" role="presentation")
                                        a(href=`/api/songposts/${note.songPostId}/notes/${note.id}/edit` class="note-edit more-menu-btn") Edit
                                    li(class="more-menu-item" role="presentation")
                                        a(href=`/api/songposts/${note.songPostId}/notes/${note.id}/delete` class="note-delete more-menu-btn") Delete
            
            else
                h2(id='no-comment') There are no comments yet! Start a discussion!