extends layout

block content
    p: a(href='/') See all other posts
    h1= songPost.postTitle
        h2= songPost.songTitle
        h2= songPost.artist
        h2= songPost.album
        h2= songPost.genre
        h5= songPost.songLink
        h5= songPost.body
