extends layout

append head
    script(src='/javascripts/index.js')
block content

    div(class='songpost-post' id=songPost.id)
        p(class='all-posts'): a(href='/') <- See all other posts
        p(class='delete-post'): a(href='/') Delete Post
        p(class='edit-post'): a(href='/') Edit Post
            h1= songPost.postTitle
                h2= songPost.songTitle
                h2= songPost.artist
                h2= songPost.album
                h2= songPost.genre
                h5= songPost.songLink
                h5= songPost.body
        div(class='songpost-note')
            form(class='notes-form' id=songPost.id)
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="postComment") Post Comment
                textarea(class="noteText" name="postComment", cols="40", rows="10" value=body)
                div(class='songpost-note-submit')
                    button(type='submit' class='create-post') Post
                    a(href='/' class='create-cancel') Cancel
    div(class='songpost-note-show')
        h1 Comments
            div(class="notes-container")
                each note in notes
                    div #{note.User.username}: #{note.body}
