extends layout

block content
    p: a(href='/') See all other posts
        h1= postTitle
            h2= songTitle
            h2= artist
            h2= album
            h2= genre
            h5= songLink
            h5= body
